body{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.app_title{
    text-align: center;
    font-size: 36px;
    /* color: #ffffff; */
    letter-spacing: 2px;
    font-family: serif;
    text-transform: uppercase;
    margin-top: 20px;
}
.searchbar_container{
    width: 50%;
    margin: 50px auto;
    display: block;
}
.search_input{
    width: 70%;
    height: 40px;
    padding-left: 20px;
    outline: none;
    font-family: serif;
    font-size: 18px;
}
.search_input::placeholder{
    text-transform: capitalize;
}
.search_btn{
    width: 25%;
    height: 40px;
    text-transform: capitalize;
    font-family: serif;
    font-size: 18px;
    outline: none;
    border: none;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
}
.img_fluid{
    width: 100%;
    height: 100%;
}
.recipe_box{
    margin-top: 50px;
    background: #000000;
    padding: 10px;
    font-family: serif;
    font-size:  16px;
    color: white;
    border-radius: 10px;
}
.img_box{
    width: 100%;
    height: 150px;
}
.title{
    font-family: serif;
    font-size: 18px;
    text-transform: capitalize;
    margin: 15px auto;
}
.title span{
    font-size: 20px;
    text-transform: uppercase;
}
.calories{
    font-family: serif;
    font-size: 18px;
    text-transform: capitalize;
    margin: 15px auto;
}
.ingredients{
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 22px;
}
.recip_ul li {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 18px;
    color: white;
}